* {
  list-style: none;
}

.octocat img {
  width: 100%;
  border: 1px solid gray;
  }

.octocat {
  display: inline-block;
  width: 30%;

}
ul.authors img {
width: 10px;
display: inline-block;
}
.image-caption {
float: right;
}
.image-footer {
  border: 1px solid gray;
}
ul.authors {
    display: inline-block;
    padding: 0;
  }
